@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/


/*画像の横幅を100%にしてレスポンシブ化*/
img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    /*画像の下にできる余白を削除*/
}

iframe {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    border-radius: 1.5rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.3);
}

.view-info {
    margin: 5px 0;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 500px) {
    .view-info {
        font-size: 14px;
    }
}

/*メイン画像下に余白をつける*/

.gallery {
    margin: 0 0 5px 0;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;
    /*絶対配置にする*/
    z-index: 3;
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;
    /*矢印の色*/
    border-right: 2px solid #ccc;
    /*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: 2.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: 2.5%;
    transform: rotate(45deg);
}

/*選択するサムネイル画像の設定*/

.choice-btn li {
    cursor: pointer;
    outline: none;
    background: #333;
    width: calc(100% / 6) !important;
}

@media (max-width: 500px) {
    .choice-btn li {
        width: calc(100% / 4) !important;
    }
}

.choice-btn li img {
    opacity: 0.5;
    /*選択されていないものは透過40%*/
}

.choice-btn li.slick-current img {
    opacity: 1;
    /*選択されているものは透過しない*/
}

.choice-btn li div {
    background-color: black;
    text-align: center;
    color: #ccc;
    font-size: small;
    opacity: 0.5;
}

.choice-btn li.slick-current div {
    opacity: 1;
}

@media (max-width: 500px) {
    .choice-btn li div {
        font-size: 10px;
    }
}

.choice-btn .slick-track {
    transform: unset !important;
    /*画面幅サイズ変更に伴うサムネイル固定*/
}

/*========= レイアウトのためのCSS ===============*/

/*エリア全体を中央寄せ*/
.wrapper {
    width: 94%;
    max-width: 900px;
    margin: 50px auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

header {
    text-align: center;
    /* font-size: 1vw; */
    padding: 5px 0;
    margin-bottom: 5px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

p {
    margin: 30px 0;
    word-wrap: break-word;
}

footer {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 5px;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: auto;
    font-size: small;
    z-index: 100;
}

@media (max-width: 500px) {
    footer {
        padding: 5px 0;
        font-size: 10px;
    }
}

.divline {
    margin-bottom: 5px;
}